.env
.Renviron

data/raw/
data/processed/
data/external/

renv/library/
renv/staging/
renv/local/
renv/python/
renv/sandbox/
.Rhistory
.RData
.Rapp.history
.Ruserdata
Rplots.pdf
*.rstudio
.Rproj.user/

*_cache/
*_files/
.quarto/

.DS_Store
Thumbs.db
